:root {
  --a-color: #99d6e0;
  --b-color: #4261a3;
  --c-color: #37518a;
}

/* .main-content {
    margin-top: 5em;
    padding-left: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  } */

.main-page {
  /* display: flex;
  flex-direction: row; */
}
