.page-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    .sidebar-sidebar-container {
        width: 4.5rem;
        position: relative;
        z-index: 15;
    }
    .page-content {
        width: calc(100% - 4.5rem);
        padding: 4rem 1.5rem;

    }
}