:root {
  --a-color: #99d6e0;
  --b-color: #4261a3;
  --c-color: #37518a;
}

.main-content-home.CC {
  margin-top: 5em;
  padding: 3em;
  display: flex;
  justify-content: center;
  background-color: var(--c-color);
  margin-left: 20em;
  margin-right: 20em;
  border-radius: 5px;
  height: 34em;
  box-shadow: 10px 10px 26px -12px rgba(0, 0, 0, 0.75);
}

.form-container {
  display: flex;
  flex-direction: column;
}
.title-CC {
  font-weight: 500;
  font-size: 2em;
  margin-top: 0.5em;
  color: rgb(233, 232, 232);
}
.input-field-CC {
  height: 2.2em;
  border-radius: 5px;
  font-size: 1em;
  width: 35em;
  padding: 0.5em;
}
.upload-file-btn-CC {
  width: 10em;
  background-color: var(--a-color);
  border-radius: 5px;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1em;
}
.upload-icon {
  margin-left: 0.5em;
}
.upload-file-lable-CC {
  color: white;
  margin-right: 1em;
  margin-left: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form-container > input {
  margin-bottom: 1em;
}
.save-btn-CC {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  background: var(--a-color);
  color: white;
  height: 2em;
  width: 4em;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  border-radius: 5px;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.selected-image {
  height: 7em;
}
