:root {
  --a-color: #99d6e0;
  --b-color: #4261a3;
  --c-color: #37518a;
}

.RMG-card-containter {
  margin-left: 2em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 600px;
  min-width: 50%;
}
.RMG-card:hover {
  transform: scale(1.05);
}
.RMG-card {
  transition: transform 1s;
  margin: 5px;
}
.RMG-img-container {
}
.RMG-img {
  width: 200px;
  max-height: 100%;
  border-radius: 5px;
}

.RMG-col-name {
  margin-top: 0;
  margin-bottom: 10px;
}
