:root {
  --a-color: #99d6e0;
  --b-color: #4261a3;
}

.sidebar-content {
  z-index: 1;
  width: 2em;
  display: flex;
  flex-direction: row;
}

.button-menu {
  z-index: 2;
  background: #37518a;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.button-item {
  background: #293d69;
  height: 4em;
  margin-top: 0.5em;
}
.sidebar-sidebar {
  padding-left: 2em;
  height: 100vh;
  width: 16em;
  background: #4261a3;
  transition: margin-left 0.5s ease-in-out;
  position: absolute;
}

.sidebar-sidebar.hidden {
  margin-left: -20em;
}

.sidebar-sidebar.open {
  margin-left: 0em;
}

.sidebar-logo {
  width: 80%;
  margin: 2em 10%;
}

.menu-icon-button {
  margin: 2em;
  outline: none;
  background: none;
  border: none;
  border-radius: 10%;
  width: 2.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
}
