:root {
  --a-color: #99d6e0;
  --b-color: #4261a3;
}

.sidebar-content-root {
  font-size: 1em;
  color: white;
}

.profile-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-image-circle {
  display: inline-block;
  position: relative;
  width: 11em;
  height: 11em;
  overflow: hidden;
  border-radius: 50%;
  border: var(--a-color) 0.2em solid;
}
.profile-image-circle .profile-image {
  width: auto;
  height: 100%;
  margin-left: -50px;
}

.profile-name {
  font-weight: 200;
  font-size: 1.2em;
}

.sidebar-menu {
  margin-left: 15%;
  margin-top: 2em;
  line-height: 0.5em;
}
.menu-title {
  font-weight: 400;
  margin-top: 2.7em;
  margin-bottom: 1.5em;
}
.menu-icon {
  display: flex;
  justify-content: center;
  margin-top: 0.348em;
  margin-right: 0.2em;
}

.menu-item {
  display: flex;
  flex-direction: row;
}
.menu-text {
  font-size: 1em;
  font-weight: 350;
  text-decoration: none;
  color: white;
}
